
###> symfony/framework-bundle ###
api-symfony/.env.local
api-symfony/.env.local.php
api-symfony/.env.*.local
api-symfony/config/secrets/prod/prod.decrypt.private.php
api-symfony/public/bundles/
api-symfony/var/
api-symfony/vendor
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
api-symfony/phpunit.xml
api-symfony/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
api-symfony/.phpunit.result.cache
api-symfony/phpunit.xml
###< symfony/phpunit-bridge ###

### Next.js ###
node_modules/
.next/
.swc/
.*.env