.navbar-wrapper {
  background-color: $color3;
  color: #FFF;
  height: 139px;
  padding: 26px 26px 0 26px;
  width: 100%;
}

.navbar-icon-wrapper {
  float: left;
  width: 176px;
}

.navbar-icon {
  fill: $color1;
  float: left;
  padding-top: 4.5px;
  width: 79px;
}

.navbar-icon-title {
  float: right;
  padding-top: 25px;
}

.navbar-icon-title h1 {
  font-size: 12px;
  font-weight: bold;
}
  
.navbar-icon-title p {
  font-size: 8px;
}

.navbar-options {
  float: right;
  padding-top: 20px;
  width: 460px;
}

@media (max-width: 991px) {

  .navbar-options {
    width: 56px;
  }
}

.navbar-wrapper a:first-child {
  border: 2px solid $color1;
  border-radius: 15px;
  color: $color1;
  font-size: 11px;
  height: 30px; 
  padding: 6px 25px 0 25px;
  text-align: center;
  width: 91px;
}

.navbar-wrapper a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  margin-right: 40px;
  padding-top: 9px;
}